@model SharedFileRepository

<div class="text-center">
    <h1 class="display-4">My files library</h1>
    @foreach(var file in Model.AllFiles)
    {
        @await Component.InvokeAsync("FileTile", file)
    }
</div>
