@model SharedFileRepository

@foreach(SharedFile file in Model.AllFiles)
{
    <div id="fileTile-@file.Id" class="file-tile" onclick="showDetails(@file.Id)">
        <div>@file.OriginalName</div>
        <div>@file.UploadedOn</div>
        <div>@file.Length</div>
    </div>
}