
<footer class="footer text-muted">
    <div class="container">
        <hr />
		<div class='copyright'>© 2021 Copyright <a href="https://thekecha.com">Kévin Renier</a>. All rights reserved.</div>
    </div>
</footer>