@model User

@if (Model is AuthorizedUser && @ViewContext.ActionDescriptor.DisplayName == "/Index")
{
    <button type="button" id="uploadButton" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#uploadModal" onclick="clearInput()">
        Upload
    </button>
    <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="UploadFile" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="uploadForm" class="upload" enctype="multipart/form-data" onsubmit="uploadFile(this);return false;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="UploadFile">Choose a file</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input id="file" name="file" type="file" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

<div class="nickname">
    <a asp-page="/Index" asp-page-handler="Dashboard">
        @Model.Nickname
    </a>
</div>

@if (Model is AuthorizedUser)
{
    <form class="logout" method="post">
        <button asp-page="/Index" asp-page-handler="Disconnect" class="btn btn-primary">Logout</button>
    </form>
}