@import './partials/_header.css';
@import './partials/_footer.css';
@import './partials/_files.css';
@import './partials/_upload.css';
@import './not-found.css';

html {
  font-size: 24px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

:root {
    --animation-duration: 200ms;
    --main-color: #007bff;
    --main-hover-color: #0056b3;
}

h2 {
    font-size: 28px;
}

.title {
    font-weight: 600;
    padding: 0.2rem 0;
    width: max-content;
    margin: auto;
    position: relative;
}
.title:after {
    position: absolute;
    content: '';
    width: 50%;
    height: 2px;
    top: 110%;
    left: 25%;
    background: var(--main-color);
    border-radius: 100px;
    transform: rotate(25deg);
    animation: jiggle var(--animation-duration) cubic-bezier(0.68, -0.55, 0.265, 1.55) var(--animation-duration) 1 normal both;
}

@keyframes jiggle {
    100% {
        transform: rotate(-7deg);
    }
}

.hidden {
    display: none;
}

button.unstyled {
    border: none;
    background-color: inherit;
    padding: 0;
}

.modal-dialog {
    max-width: 600px;
}

img.scale {
    transition: all 100ms;
}
img.scale:hover {
    transform: scale(1.05);
}

.modal-content {
    border:none;
}