@page
@model Portfolio_Box.Pages.IndexModel

<div class="text-center">
    <h1 class="display-4">My files library</h1>
    <div id="fileList" className="file-list">
        <partial name="_FileList" model="Model.SharedFileRepository" />
    </div>
</div>