@page
@model Portfolio_Box.Pages.IndexModel

<div class="text-center">
    <h2 class="title">My files library</h2>
    <div id="fileList" class="file-list">
        <partial name="_FileList" model="Model.FileRepository" />
    </div>
</div>

<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="FileDetails" aria-hidden="true">
    <partial name="_FileDetails" model="null" />
</div>