@page
@model Portfolio_Box.Pages.IndexModel

<div class="text-center">
    <h1 class="display-4">My files library</h1>
    <div id="fileList" className="file-list">
        <partial name="_FileList" model="Model.SharedFileRepository" />
    </div>
</div>

<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="FileDetails" aria-hidden="true">
    <partial name="_FileDetails" model="null" />
</div>

@section Scripts {
    <script>

        const getCookie = name => {
            const parts = ("; " + document.cookie).split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        }

        const adjustDownloadUrl = () => {
            const uri = $("#downloadUrl").val()
            $("#downloadUrl").val(`${window.location.href}/file/download/${uri}`)
        }

        const showDetails = id => {
            $("#detailsModal").modal("show")
            $("#detailsModal").load(`${window.location.href}/file/details/${id}`, adjustDownloadUrl)
        }

        const deleteFile = id => {
            $.ajax({ 
                url: `${window.location.href}/file/delete/${id}`, 
                type: 'DELETE', 
                headers: { 'RequestVerificationToken': getCookie('RequestVerificationToken') },
                success: () => $(`#fileTile-${id}`).remove() 
            })
        }

        const createLink = async (id, expiry) => {
            $.ajax({ 
                url: `${window.location.href}/link/create?id=${id}&expiry=${expiry}`, 
                type: 'POST', 
                headers: { 'RequestVerificationToken': getCookie('RequestVerificationToken') },
                success: () => showDetails(id)
            })
        }

        const deleteLink = async (id, linkId) => {
            $.ajax({ 
                url: `${window.location.href}/link/delete/${linkId}`, 
                type: 'DELETE', 
                headers: { 'RequestVerificationToken': getCookie('RequestVerificationToken') },
                success: () => showDetails(id)
            })
        }

    </script>
}
