<header>
    <nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-light bg-white box-shadow">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <partial name="SVGs/_Logo" />
            </a>
            <div class="d-flex">
               @await Component.InvokeAsync("UserMenu")
            </div>
        </div>
    </nav>
</header>