header {
    height: auto;
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.05);
    padding: 0.3rem 0;
    transition: all var(--default-animation-duration);
}

nav {
    padding: 0 !important;
    height: 54px;
}

.nickname {
    margin: auto 0.5rem auto 1rem;
    padding-left: 0.8rem;
}
.nickname.authorized {
    border-left: 1px solid lightgray;
}
.nickname a {
    color: black;
    text-decoration: none;
}
.nickname a:hover {
    text-decoration: underline;
}

.logo {
    fill: var(--main-color);
    transition: all var(--default-animation-duration);
}
.logo:hover {
    fill: var(--main-hover-color);
}

#uploadButton {
    height: max-content;
    font-size: 1rem;
    margin: auto;
}

.logout {
    margin: auto;
}
